
a.button.roster_button, input.roster_input[type=text]{
    padding:0.3em 0.5em;
    line-height:normal;
}

.button.roster_button.disabled{
    cursor:default;
}

input.roster_list_item_text_container[disabled]{
    background-color:LightGrey;
}

input.roster_list_item_text_container.roster_promoted{
    background-color:gold;
}

input.roster_input[disabled]{
    border:0;
    cursor:default;
}

input.roster_list_item_text_container:not([disabled]){
    background-color:lightcyan;
}


.flex_container{
    display:flex;
}

input.roster_input:focus{
    box-shadow:0 0 0 transparent;
}

input.roster_input.roster_list_item_text_container:focus{
    border:0;
}

div.roster_head{
}

div.roster_main{
    padding:2rem;
}

.roster_button{
    margin:0;
    -webkit-user-select: none;
}


#roster_add_button{
    height:auto;
    transition-property: opacity;
    transition-duration: 0.2s;
    
}

div.roster_entry{
    position:relative;
    left:0;
    top:0;
    margin:0 0 0.5rem 0;
    transition-property: left, top, box-shadow;
    transition-duration: 0.15s;
}

a.roster_promote_button, a.roster_demote_button{
}

a.roster_save_button{
    background-color:goldenrod;
}

a.roster_save_button:hover{
    background-color:darkgoldenrod;
}

a.roster_edit_button{
    background-color:BlueViolet;
}

a.roster_edit_button, a.roster_save_button{
}

a.roster_edit_button:hover{
    background-color:purple;
}


a.roster_up_button, a.roster_down_button, a.roster_delete_button{
    padding: 0.85em 0.2em;
}

div.roster_entry.roster_promoted{
    left:-2px;
    top:-2px;
    box-shadow:2px 2px 2px grey;
}

.roster_input{
    height:auto;
    margin:0;
}

input.roster_list_item_text_container{
    overflow: hidden;
    width:100%;
    margin:0;
    align-items: center;
    transition-property: background-color;
    transition-duration: 0.25s;
    border-width:0;
    box-shadow:none;
}


div.roster_list div.roster_entry:first-child a.roster_up_button, 
div.roster_list div.roster_entry:last-child a.roster_down_button {
    background:grey;
    cursor:default;
}

a.roster_button{
    flex: 0 0 2.1em
}
